$section:(
    font-si: 5rem,
    font-we: 700,
    justi-cont: center,
    posit: absolute,
);

$section2:(
    font-si: 6rem,
    mar-top: 5%
);

$parrafo1:(
    f-siz: 1.5rem,
    f-wei: 300

);

$parrafo2:(
    pos: absolute,
    f-size: 8rem,
    f-weit: 700,

);
$parrafo3:(
    f-size: 2.5rem,
    f-weit: 300,
    col: blue,

);

$secdiv:(
    m-top: 5%,
    m-left: 10%,

)

